<a href="https://colab.research.google.com/github/HarryM808/HarryM808/blob/main/Train_YLC_Week2HWK_McIntosh.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 2 Homework: Exploratory Data Analysis (EDA)
---
In this week's homework, you'll practice the exploratory data analysis (EDA) skills you learned during lecture and lab this week. You will work with three datasets and learn more about them.

There is optional additional practice to practice data cleaning and wrangling if your lab group completed those sections.

##### **Make sure to run these libraries before starting.**

In [3]:
# import pandas as pd 
import pandas as pd

# Import datasets submodule
from sklearn import datasets

## **Dataset #1**
---

The dataset below contains information about 10 U.S. States in alphabetical order.

In [4]:
df = pd.DataFrame({'U.S. State':['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Florida', 'Georgia'], 
                         'Size (mi)': [52420, 665384, 113990, 53178, 163695, 104094, 5543, 2489, 65758, 59425], 
                         'Number of U.S. Representatives':[7, 1, 9, 4, 53, 7, 5, 1, 27, 14]})

In [ ]:
df

#### **Exercise 1:** How many variables are there?

In [ ]:
# 3 variables

#### **Exercise 2:** What is the data type of `U.S. State`?

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   U.S. State                      10 non-null     object
 1   Size (mi)                       10 non-null     int64
 2   Number of U.S. Representatives  10 non-null     int64
dtypes: int64(2), object(1)
memory usage: 368.0+ bytes

#### **Exercise 3:** What is the mean of the variable `Size`?

In [6]:
df.describe()

           Size (mi)  Number of U.S. Representatives
count      10.000000                       10.000000
mean   128597.600000                       12.800000
std    194780.758633                       16.047153
min      2489.000000                        1.000000
25%     52609.500000                        4.250000
50%     62591.500000                        7.000000
75%    111516.000000                       12.750000
max    665384.000000                       53.000000

#### **Exercise 4:** What is the average number of U.S. House of Representatives that each state has?

In [ ]:
#12.8

## **Dataset #2**
---

This DataFrame loads data from the NBA including the game matchups, location, all shots taken, when on the shot clock they were taken, whether the shot was a make or a miss, the shooter, the closest defender, and more.

Each row represents a possesion prior to a shot.

In [18]:
#load CSV
url = "https://raw.githubusercontent.com/the-codingschool/datascience/master/Unit%202/shot_logs.csv"
basketball_df = pd.read_csv(url)
df=pd.read_csv(url)

#### **Problem #1**. How many rows are there? Print the shape of the DataFrame.

In [24]:
#df.info()
print ("")
df.shape
print ('')
df.columns
len(df.columns)
df.shape

(128069, 21)

#### **Problem #2**. What is the datatype of `DRIBBLES`?

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128069 entries, 0 to 128068
Data columns (total 21 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   GAME_ID                     128069 non-null  int64
 1   MATCHUP                     128069 non-null  object
 2   LOCATION                    128069 non-null  object
 3   W                           128069 non-null  object
 4   FINAL_MARGIN                128069 non-null  int64
 5   SHOT_NUMBER                 128069 non-null  int64
 6   PERIOD                      128069 non-null  int64
 7   GAME_CLOCK                  128069 non-null  object
 8   SHOT_CLOCK                  122502 non-null  float64
 9   DRIBBLES                    128069 non-null  int64
 10  TOUCH_TIME                  128069 non-null  float64
 11  SHOT_DIST                   128069 non-null  float64
 12  PTS_TYPE                    128069 non-null  int64
 13  SHOT_RESULT                 128069 non-null  object
 14  CLOSEST_DEFENDER            128069 non-null  object
 15  CLOSEST_DEFENDER_PLAYER_ID  128069 non-null  int64
 16  CLOSE_DEF_DIST              128069 non-null  float64
 17  FGM                         128069 non-null  int64
 18  PTS                         128069 non-null  int64
 19  player_name                 128069 non-null  object
 20  player_id                   128069 non-null  int64
dtypes: float64(4), int64(10), object(7)
memory usage: 20.5+ MB

#### **Problem #3**: What are the mean number of dribbles per possesion? Use `DRIBBLES` as the feature.

In [27]:
df.describe()

,GAME_ID,FINAL_MARGIN,SHOT_NUMBER,PERIOD,SHOT_CLOCK,DRIBBLES,TOUCH_TIME,SHOT_DIST,PTS_TYPE,CLOSEST_DEFENDER_PLAYER_ID,CLOSE_DEF_DIST,FGM,PTS,player_id
count,1.280690e+05,128069.000000,128069.000000,128069.000000,122502.000000,128069.000000,128069.000000,128069.000000,128069.000000,128069.000000,128069.000000,128069.000000,128069.000000,128069.000000
mean,2.140045e+07,0.208723,6.506899,2.469427,12.453344,2.023355,2.765901,13.571504,2.264670,159038.487284,4.123015,0.452139,0.997314,157238.251247
std,2.578773e+02,13.233267,4.713260,1.139919,5.763265,3.477760,3.043682,8.888964,0.441159,78791.172947,2.756446,0.497706,1.130978,79362.389336
min,2.140000e+07,-53.000000,1.000000,1.000000,0.000000,0.000000,-163.600000,0.000000,2.000000,708.000000,0.000000,0.000000,0.000000,708.000000
25%,2.140023e+07,-8.000000,3.000000,1.000000,8.200000,0.000000,0.900000,4.700000,2.000000,101249.000000,2.300000,0.000000,0.000000,101162.000000
50%,2.140045e+07,1.000000,5.000000,2.000000,12.300000,1.000000,1.600000,13.700000,2.000000,201949.000000,3.700000,0.000000,0.000000,201939.000000
75%,2.140067e+07,9.000000,9.000000,3.000000,16.675000,2.000000,3.700000,22.500000,3.000000,203079.000000,5.300000,1.000000,2.000000,202704.000000
max,2.140091e+07,53.000000,38.000000,7.000000,24.000000,32.000000,24.900000,47.200000,3.000000,530027.000000,53.200000,1.000000,3.000000,204060.000000

#### **Problem #4**: Examine the value counts of the `player_name` column.

#### **Problem #5**: Which player had the ball on the 1000th possession?

#### **Problem #6**: Were more shots made or missed by players? Use the feature `SHOT_RESULT`.

#### **Problem #7:** What was the median for the final margin in each basketball game? Use the feature `final_margin`.

### **Dataset #3**
---

This dataset contains information collected by the U.S Census Service concerning housing in the area of Boston, Massachusetts. It is a very commonly used dataset within the machine learning space - this particular version is the original *raw* version. It contains `Nan` values and anomalous results.


**There are 11 attributes in each case of the dataset.**

`CRIM` - per capita crime rate by town 

`ZN` - proportion of residential land zoned for lots over 25,000 sq.ft.

`INDUS` - proportion of non-retail business acres per town.

`CHAS` - Charles River dummy variable (1 if tract bounds river; 0 otherwise)

`NOX` - nitric oxides concentration (parts per 10 million)

`RM` - average number of rooms per dwelling

`AGE` - proportion of owner-occupied units built prior to 1940

`DIS` - weighted distances to five Boston employment centres

`RAD` - index of accessibility to radial highways

`TAX` - full-value property-tax rate per $10,000

`PTRATIO` - pupil-teacher ratio by town

More information about the dataset can be found [here](https://www.cs.toronto.edu/~delve/data/boston/bostonDetail.html).

**Run the code below to load the dataframe:**

In [ ]:
data_url = "http://lib.stat.cmu.edu/datasets/boston"
df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
columns = ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO']
df.columns = columns

#### **Exercise 1:** Using only the DataFrame attributes, how many rows of data does the DataFrame have?

#### **Exercise 2:** What is the average number of rooms per home?

#### **Exercise 3:** What is the median of the `DIS` feature?

#### **Exercise 4:** Index the 494th row.

#### **Exercise 5:** How much mitric oxides concentration is there in total?

#### **Exercise 6:** Which feature(s) have the most missing data?

### **Data Cleaning # 1 [Optional]**

---

Let's pretend you are a nutritionist looking at the prices of certain fruits to provide info to your client.

In [ ]:
fruit_df = pd.DataFrame({ 
    'fruit': ['apple','banana','cherry', 
              'dates','elderberry'], 
    'price':[1.00 , 0.50, None, 2.50, None]}) 
fruit_df

        fruit  price
0       apple    1.0
1      banana    0.5
2      cherry    NaN
3       dates    2.5
4  elderberry    NaN

#### **Exercise 1:** Use mean to fill in the missing values from the `fruit_df` DataFrame given in the previous problem and save as a new DataFrame `df_filled_mean`. Then check to make sure it worked.

### **Data Cleaning # 2 [Optional]**
---

Medical data at a local urgent care is recorded in a DataFrame. Patients are given a unique id upon entry and are charged according to their age and symptoms.

In [ ]:
medical_df = pd.DataFrame({'patient id':[100, 101, 102, 103, 104, 105, 106, 107, 108, 109], 
                         'age': [10, 13, 15, 17, 19, 18, 16, 12, 14, 11], 
                         'symptom':[None, 'flu', 'headache', 'headache', 'flu', None, None, 'headache', 'flu', None], 
                         'charge':[30.00, None, 35.00, 36.00, 39.00, 38.00, 36.00, 32.00, 33.00, None]})

#### **Exercise 1:** Using the calculated mean below, use `fillna()` to replace NA values in the `"charge"` column.

#### **Exercise 2:** Drop all the null values, and compare the shape of the DataFrame before and after. How many rows were dropped?

#### **Exercise 3:** What is the average cost of going to this clinic?

---
Copyright 2022 The Coding School, All rights Reserved